BOT_TOKEN=your_telegram_bot_token_here
WEATHER_API_KEY=your_openweathermap_api_key
WEATHER_CITY=Mogilev
TUYA_ACCESS_ID=your_tuya_access_id
TUYA_SECRET=your_tuya_secret
TUYA_DEVICE_ID=your_tuya_device_id
TUYA_REGION_URL=https://openapi.tuyaeu.com
PC_IP=192.168.0.147
PC_USER=User
PC_PASSWORD=
PC_MAC=
SSH_KEY_PATH=/root/.ssh/id_rsa
RUTRACKER_USER=
RUTRACKER_PASS=
QB_USER=
QB_PASS=
SISYPHUS_API_KEY=
ALLOWED_USERS=123456789,987654321
